.box {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item {
    margin: 15px;
}
.item img {
    width:280px;
	height:auto;
}

.item .fukui {
	background-image: url("fukui_hover.jpg");
}

.ease_out:hover {
    transition: all 0.3s ease-out;
}

@media screen and (min-width: 1001px){
	.item:nth-child(4n+1) {
		margin-left: 0;
	}
}
@media screen and (min-width: 751px){
	.item:nth-child(3n+1) {
		margin-left: 0;
	}
}
@media screen and (max-width: 750px){
	.box {
		justify-content: space-between;
	}
	.item {
		margin-left: 0;
	}
}