#main {
    display:block;
    padding:30px 30px 0;
}







main {
	margin:0 auto;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	width:800px;
	word-wrap: break-word;
	padding-top:70px;
}
h2 {
	margin: 0;
}
.box {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item {
	margin: 15px;
	width:280px;
	background-image: linear-gradient(
		-45deg,
		#fff 25%,
		#eee 25%, #eee 50%,
		#fff 50%, #fff 75%,
		#eee 75%, #eee
	);
	/* 幅8px、高さ8pxで背景画像のサイズを指定 */
	background-size: 8px 8px;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
    border:0px solid #eee;
    padding: 5%;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.item-title {
    font-size: 12px;
	padding: 5px 8px 0px 8px;
	color: #333;
	line-height: normal;
	font-weight: 500;
	text-transform: none;
	font-family: 'Montserrat', sans-serif;
	word-wrap: break-word;
	vertical-align: baseline;
}
.entry-title {
	font-weight: 500;
}
.entry-content img{
	margin: 0 auto;
	width: 100%;
	height:auto;
}
.entry-content .catalog img{
	width: 100px;
}
.entry-content a:hover{
	opacity: 0.5;
	transition: 0.3s;
}
.date{
    padding-bottom: 2px;
    margin-left: 0px;
    margin-bottom: 5px;
	font-size: 12px;
	color:#333;
}
.item img {
    width:280px;
	height:auto;
}
.ease_out:hover {
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
p {
	font-size:14px;
	color: #777;
	padding-bottom:30px;
}

@media screen and (min-width: 1001px){
	.item:nth-child(4n+1) {
		margin-left: 0;
	}
}
@media screen and (min-width: 751px){
	.item:nth-child(3n+1) {
		margin-left: 0;
	}
}
@media screen and (max-width: 750px){
	.box {
		justify-content: space-between;
	}
	.item {
		margin-left: 0;
	}
}