.box {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item {
	margin: 15px;
	position: relative;
	margin: 0 auto;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
}
.item img {
    width:280px;
	height:auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.item:hover img:nth-of-type(2) {
	opacity: 0;
}



@media screen and (min-width: 1001px){
	.item:nth-child(4n+1) {
		margin-left: 0;
	}
}
@media screen and (min-width: 751px){
	.item:nth-child(3n+1) {
		margin-left: 0;
	}
}
@media screen and (max-width: 750px){
	.box {
		justify-content: space-between;
	}
	.item {
		margin-left: 0;
	}
}